# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Frontend
node_modules/
/addu-chatbot-frontend/dist
/addu-chatbot-frontend/dist-ssr
/addu-chatbot-frontend/*.local

# Large files and models
*.bin
*.model
backend/chatbot/embeddings/GoogleNews-vectors-negative300.bin

# Embeddings and processed data
backend/embeddings/*.npy
backend/embeddings/*.bak
backend/processed/

# Editor directories and files
.idea/
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Cache
.cache/
__pycache__/
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints